/* Sidebar with menu */

.item {
  flex: 1;
}

/* Left menu */

.menu ul {
  max-width: 200px;
  margin: 16px 16px 16px 16px;
  padding: 0px;
}

.menu .top {
  background-color: #e3be88;
  border-radius: 40px 40px 0px 0px;
}

.menu li {
  display: block;
  margin: 0px 0px 0px 0px;
  padding: 5px 8px 5px 8px;
  min-width: 190px;
  min-height: 33px;
  background-color: #e3be88;
  text-align: center;
}

.menu .bottom {
  background-color: #e3be88;
  border-radius: 0px 0px 50px 50px;
  min-height: 15px;
}

.menu a {
  text-decoration: none;
  font-size: 1.1em;
  min-height: 31px;
  color: #000;
}

.menu a:hover {
  transition-duration: 0.5s;
  text-decoration: none;
  font-size: 1.3em;
  min-height: 31px;
}

.jacket {
  flex: 3;
}

/* Products */

.product {
  background-color: #fff;
  padding: 5px;
  margin: 5px;
  border-style: solid;
  border-width: 1px;
  max-width: 131px;
}

.products__image {
  max-width: 131px;
}

/* Product specific page */

.product-large {
  position: relative;
  background-color: #fff;
  border-style: solid;
  border-width: 1px;
  padding: 5px;
  max-width: 100%;
}

.product-large img {
  max-width: 100%;
}

.products__image_thumb {
  display: flex;
  flex-direction: row;
  justify-content: left;
  gap: 10px;
}

.products__image_thumb img {
  height: 100px;
}

.price-cta {
  display: flex;
  flex-direction: row;
  padding: 5px;
}

.add-to-cart {
  flex: 2.5;
}

.add-to-cart-buy a {
  flex: 1;
}

.product-text p {
  color: #000;
  padding: 10px;
}

.product-text h2 {
  color: #000;
  padding: 10px;
}

.back-button {
  position: absolute;
  top: 15px;
  left: 16px;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 8px;
  font-size: 1.2em;
  font-weight: bold;
  padding: 10px 10px 5px 10px;
  border-style: solid;
  border-width: 1px;
  text-decoration: none;
  color: #000;
}

.back-button:hover {
  background-color: #525e6e;
}

/* Added to cart */ 

/* Google icon */

.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { 
  font-size: 36px;
  padding: 0px;
  margin: 0px 5px 0px 5px;
 }
.material-icons.md-48 { font-size: 48px; }