.main-content.checkout  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
  }

.carter {
    flex: 1;
    margin: auto;
    padding: 5px;
}

.carter-out {
    display: flex;
    flex-direction: row;
    width: 80%;
    margin: auto;
    border-top: dashed;
    border-bottom: dashed;
}

.text {
    padding: 20px;
}

.out {
    flex: auto;
    margin: auto;
}

.price {
    min-width: 50%;
}

.price h1 {
    border-bottom: dashed;
    float: right;
    color: #000;
}

.one {
flex: 1;
}

.two {
flex: 3;
}

.three {
    flex: 1;
}

.products__image {
    max-height: 100px;
    padding: 5px 0px;
  }

.buy {
    padding: 50px 0px;
    min-width: 50%;
}

.buy a {
    float: right;
    margin: 10px;
}

.material-icons.md-24 { 
    font-size: 24px;
    color: firebrick;
}

.material-icons.shopping_bag { 
    font-size: 62px;
    padding: 50px;
    background-color: rgb(209, 209, 209);
    border-radius: 30%;
}

.success {
    color: green;
    margin: auto;
}

.material-icons.mail { 
    font-size: 62px;
    padding: 50px;
    background-color: rgb(209, 209, 209);
    border-radius: 30%;
}