/* Main section for education */

.education-content {
    display: flex;
    flex-direction: column;
}

.education__content-img {
    background-image: url("../images/img/mario-heller-hXLkFpvKRys-unsplash-small.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-position-y: 45%;
    min-height: 450px;

}

.education__content-text { 
    flex: 1;
    padding: 20px;

}

.conteiner {
    flex: 1.2;
}

.for_kids__img {
    background-image: url("../images/img/ante-hamersmit-vMP8lfhxPi4-unsplash-small.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
    background-position-y: 20%;
    min-height: 450px;
    transition: .4s;
    opacity: .8;
}

.for_kids__img:hover {
    transition: .4s;
    opacity: 1;
}


.for_teachers__img {
    background-image: url("../images/img/ergonofis-oLThw11c8kg-unsplash-small.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-position-y: 45%;
    min-height: 450px;
    transition: .4s;
    opacity: .8;
}

.for_teachers__img:hover {
    transition: .4s;
    opacity: 1;
}

.content-flex1 {
    display: flex;
    flex-direction: column;
}