/* Explore stylesheet */

/* Main section main-content */ 

.grid {
    grid-template-columns: repeat(3, 1fr);
    border-style: double;
}

.content-flex1 {
    display: flex;
    flex-direction: row;
    max-height: 900px;
    padding: 10px;
    gap: 10px;
}

.content-picture {
    width: 100%;
    height: 100%;
    transition: .4s;
    opacity: .8;
}

.content-picture:hover {
    transition: .4s;
    opacity: 1;
}

.content-box {
    flex: 1;
    background-color: #DBDBDB;
    margin: 0px auto;
    width: 100%;
    display: flex;
    border-style: solid;
    border-width: 1px;
}

.content-box:hover {
    background-color: #cacaca;
}

.content-text {
    max-width: 80%;
    width: 220px;
    height: 60px;
    margin: 20% auto;
    padding: auto;
    text-align: center;
}

.explore {
    font-size: 1.5em;
    color: #000;
    transition: .4s;
}

.explore:hover {
    font-size: 2.4em;
    transition: .4s;
}