/* Media queries - Responsive across screen sizes */

@media screen and (min-width: 300px) {
    .grid {
        display: grid;
        grid-template-rows: repeat(2, 1fr);
    }
    .bar {
        display: flex;
        flex-direction: column;
        max-width: 100%;
        position: absolute;
        top: 550px;
        gap: 5px;
    }
}

@media screen and (min-width: 500px) {
    .content-box-main {
        display: flex;
        flex-wrap: wrap-reverse;
        flex-direction: row;
    }
    .second__content-text {
        width: 50%;
        top: 120px;
        left: 50px;
    }
}

@media screen and (min-width: 680px) {
    .open-hours {
        max-width: 80%;
        position: absolute;
        top: 380px;
        right: 10px;
        border-radius: 10px;
    }
}

@media screen and (min-width: 800px) {
    .bar {
        display: flex;
        flex-direction: row;
        max-width: 100%;
        position: absolute;
        top: 674px;
        gap: 0px;
    }
    .content-grid{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .second__content-text {
        width: 30%;
        top: 120px;
        left: 50px;
    }
}

@media screen and (min-width: 900px) {

}